html{
    height: 120%;
}


body {
    margin: 10;
    padding: 10;
    padding-top: 10px;
    font-family: sans-serif;
    background: linear-gradient( #120efd,#1192b2);
padding-bottom: 20px;
}
#heading{
    text-align: center;
    color: bisque;
}
#firstnameu{
 color: beige;}
#firstnameb
{ border-width: 1.5px;
        border-style:solid;
        border-color: rgb(0, 0, 0);
        border-radius:2px;
    }
#lastnameu{color: beige;}
#lastnameb
{   border-width: 1.5px;
    border-style:solid;
    border-color: rgb(0, 0, 0);
    border-radius:2px;
    }
#gender{
    color: beige;
}
    #emailu{
        
        color: rgb(255, 255, 255);
        
        }
        #emailb{ border-width: 1.5px;
            border-style:solid;
            border-color: rgb(0, 0, 0);
            border-radius:2px }
            #pnou{color: beige;}
            #pnob{ border-width: 1.5px;
                border-style:solid;
                border-color: rgb(0, 0, 0);
                border-radius:2px}
  

         #dateu{
        
        color: rgb(255, 255, 255);}
        #dateb{
        border-width: 1.5px;
        border-style:solid;
        border-color: rgb(0, 0, 0);
        border-radius:2px;
        
        }
#boxu{
    color: beige;
}
#boxb{ 
    background-color: #120efd;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(245, 249, 255);
    border-radius:2px;

}
   
/* for square shape in middle */
       
.login-box {
    
    position: absolute;
    top: 60%;
    right: 50%;
    
    left: 50%;
    width: 400px;
    padding: 30px;
    transform: translate(-50%, -50%);
    background: linear-gradient( #1192b2);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(255, 255, 255);
    border-radius: 10px;
}